@font-face {
    font-family: "Acumin";
    src: url("../fonts/acumin.otf") format("opentype");
}

body {
    font-family: "Helvetica";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Acumin";
}

.text-justify {
    text-align: justify;
}

.header{
    z-index: 2;
}

.header-links {
    font-size: 15px;
}

.main-logo {
    enable-background:new 0 0 7584.91 2243.25;
    width: 120px;
}

.white-logo {
    filter: invert(100%);
}

.hero {
    background-image: url("../images/hero_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px 0px;
    height: 750px;
}

.main-title {
    font-size: 100px;
}

.sub-title {
    font-size: 13px;
    letter-spacing: 0.3rem;
}

.hero .search-bar {
    background-color: #EAECEB;
}

.hero-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 200px;
}

.search-bar {
    font-size: 14px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
}

.search-bar-label {
    letter-spacing: 0.1rem;
}

.search-bar-inner {
    display: flex;
    flex-direction: row;
}

.search-button {
    margin: 10px;
    background-color: transparent;
    border-color: black;
    color: black;
}

.search-button:hover {
    background-color: white;
}

.properties-title {
    font-size: 40px;
}

.property-image-wrapper {
    display: inline-block;
    overflow: hidden;
}

.property-image-wrapper img {
    width: 290px;
    height: 400px;
    object-fit: cover;
    transition: transform .4s;   /* smoother zoom */
}

.property-image-wrapper:hover img {
    transform: scale(1.3);
    transform-origin: 50% 50%;
}

.properties-overflow { 
    overflow-x: visible;
    scrollbar-color: #d4d4d4 white;
    scrollbar-width: thin;
}

.paragraph {
    width: 750px;
}

.carousel-proportion {
    width: 1160px;
}

.carousel-image {
    position: relative;
    bottom: 150px;
    width: 130%;
}

.carousel .carousel-indicators > :not(.active)  {
    width: 8px;
    height: 8px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 100%;
    border: 0;
    background-color: transparent;
    box-shadow: 0 0 0 .15rem rgb(255, 255, 255);
}

.carousel .carousel-indicators > .active {
    width: 8px;
    height: 8px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 100%;
    border: 0;
    box-shadow: 0 0 0 .15rem rgb(255, 255, 255);
}

.contact-us {
    background-image: url("../images/long_term_rentals.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px 0px;
    height: 560px;
    margin-top: 140px;
}

.contact-us-title {
    font-size: 90px;
}

.contact-us-button {
    font-size: 13px;
    background-color: transparent;
    color: white;
}

.contact-us-button:hover {
    background-color: white;
    color: black;
}

.footer {
    background-color: #D6EAEE;
}

.footer-links-wrapper {
    display: flex;
}

.footer-links-wrapper ul {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-title {
    font-size: 18px;
}

.footer-link {
    font-size: 14px;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.icon-size {
    width: 22px;
}

.get-app-icon {
    height: 34px;
}

@media (max-width: 1200px) {
    .hero-titles {
        padding-top: 60px;
    }

    .hero {
        background-size: cover;
        background-position: center 0px;
    }

    .search-button {
        margin-left: 40px;
        margin-top: 20px;
    }

    .carousel-proportion {
        width: 100%;
        height: 40rem;
    }

    .carousel-image {
        position: relative;
        bottom: 0px;
        width: auto;
        height: 120%;
    }

    .contact-us {
        background-size: cover;
        background-position: center 40px;
    }

    .footer .main-logo {
        display: none;
    }
}

@media (max-width: 800px) {
    .search-bar {
        width: 95%;
        flex-direction: column;
        border-radius: 10px;
    }

    .paragraph {
        width: 100%;
    }

    .search-bar-inner {
        flex-direction: column;
    }

    .search-button {
        margin-left: 60px;
        margin-right: 60px;
    }
}


@media (max-width: 600px) {
    .main-title {
        font-size: 80px;
    }

    .sub-title {
        font-size: 12px;
        letter-spacing: 0.3rem;
    }

    .contact-us-title {
        font-size: 70px;
    }

    .footer-links-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links-wrapper ul {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}