{% load static %}
<div class="contact-us">
    <div class="text-center d-flex flex-column justify-content-center h-100 pt-5">
        <h1 class="contact-us-title text-white pt-5">LONG TERM RENTALS</h1>
        <span id="contactUsSubtitle" class ="sub-title text-white px-2">ASK FOR OUR SPECIAL RATES FOR EXTENDED STAYS!</span>
        <a href="https://wynwood-house.com/long-stays/">
            <button class="contact-us-button border rounded-pill border-white py-1 px-4 mt-5">CONTACT US</button>
        </a>
    </div>
</div>