{% load static %}
<div class="container-xxl px-3">
    <h1 class="properties-title text-black mt-5 mb-4 py-2 col-8">HIGHLIGHTED PROPERTIES</h1>
    <div class="d-flex overflow-auto properties-overflow">
        <div class="me-3">
            <a class="property-image-wrapper" href="https://wynwood-house.com/madrid-espana/">
                <img load="lazy" src="{% static 'images/home-1.jpg' %}" loading="lazy" alt="Madrid">
            </a>
            <p class="sub-title mt-3 mb-1">
                <a class="text-decoration-none text-black" href="https://wynwood-house.com/madrid-espana/">MADRID</a>
            </p>
        </div>
        <div class="me-3">
            <a class="property-image-wrapper" href="https://wynwood-house.com/madrid-espana/">
                <img load="lazy" src="{% static 'images/home-2.jpg' %}" loading="lazy" alt="Sevilla">
            </a>
            <p class="sub-title mt-3 mb-1">
                <a class="text-decoration-none text-black" href="https://wynwood-house.com/madrid-espana/">SEVILLA</a>
            </p>
        </div>
        <div class="me-3">
            <a class="property-image-wrapper" href="https://wynwood-house.com/madrid-espana/">
                <img load="lazy" src="{% static 'images/home-3.jpg' %}" loading="lazy" alt="Barcelona">
            </a>
            <p class="sub-title mt-3 mb-1">
                <a class="text-decoration-none text-black" href="https://wynwood-house.com/madrid-espana/">BARCELONA</a>
            </p>
        </div>
        <div class="me-3">
            <a  class="property-image-wrapper" href="https://wynwood-house.com/madrid-espana/">
                <img load="lazy" src="{% static 'images/home-4.jpg' %}" loading="lazy" alt="Granada">
            </a>
            <p class="sub-title mt-3 mb-1">
                <a class="text-decoration-none text-black" href="https://wynwood-house.com/madrid-espana/">GRANADA</a>
            </p>
        </div>
        <div class="me-3">
            <a  class="property-image-wrapper" href="https://wynwood-house.com/madrid-espana/">
                <img load="lazy" src="{% static 'images/home-5.jpg' %}" loading="lazy" alt="Valencia">
            </a>
            <p class="sub-title mt-3 mb-1">
                <a class="text-decoration-none text-black" href="https://wynwood-house.com/madrid-espana/">VALENCIA</a>
            </p>
        </div>
    </div>
</div>