{% load static %}
<div class="footer">
    <div class="shadow-sm py-3">
        <div class="container-xxl d-flex justify-content-center py-5">
            <div class="col-1 d-flex justify-content-center">
                {% include 'partials/main-logo.html' %}
            </div>
            <div class="col-11 d-flex justify-content-center">
                {% include 'partials/search-bar.html' %}
            </div>
        </div>
    </div>
    <div class="container-xxl d-flex pt-4">
        <ul class="list-unstyled mb-0 py-5 col-sm">
            <li>
                <a id="bookings" href="https://wynwood-house.com/madrid-espana/" class="footer-title text-dark text-decoration-underline mb-3 col-6">Bookings</a>
            </li>
        </ul>
        <ul class="list-unstyled mb-0 py-5 col-sm">
            <li>
                <div id="services" class="footer-title text-decoration-underline mb-3 col-6">Services</div>
            </li>
            <li>
                <a id="servicesFirst" href="https://wynwood-house.com/long-stays/" class="footer-link text-black">Groups &amp; Long Stays</a>
            </li>
            <li>
                <a id="servicesSecond" href="https://wynwood-house.com/events/" class="footer-link text-black">Events &amp; Productions</a>
            </li>
        </ul>
        <ul class="list-unstyled mb-0 py-5 col-sm">
            <li>
                <div id="us" class="footer-title text-decoration-underline mb-3 col-6">Us</div>
            </li>
            <li>
                <a id="usFirst" href="https://wynwood-house.com/about-us/" class="footer-link text-black">About us?</a>
            </li>
            <li>
                <a id="usSecond" href="https://blog.wynwood-house.com/" class="footer-link text-black">Blog &amp; News</a>
            </li>
            <li>
                <a id="usThird" href="https://wynwood-house.com/casa/" class="footer-link text-black">Wynwood House</a>
            </li>
            <li>
                <a id="usFourth" href="https://wynwood-house.com/careers/" class="footer-link text-black">Work with us</a>
            </li>
        </ul>
        <ul class="list-unstyled mb-0 py-5 col-sm">
            <li>
                <div id="ownersAndInvestors" class="footer-title text-decoration-underline mb-3 col-6">Owners &amp; Investors</div>
            </li>
            <li>
                <a href="https://wynwood-house.com/real-estate/" class="footer-link text-black">Wynwood Real Estate</a>
            </li>
            <li>
                <a id="ownersAndInvestorsSecond" href="https://wynwood-house.com/owner-partner/" class="footer-link text-black">Owners</a>
            </li>
        </ul>
        <ul class="list-unstyled mb-0 py-5 col-sm">
            <li>
                <div id="benefits" class="footer-title text-decoration-underline mb-3 col-6">Benefits</div>
            </li>
            <li>
                <a id="benefitsFirst" href="https://wynwood-house.com/guest-benefits/" class="footer-link text-black">Guides</a>
            </li>
        </ul>
    </div>
    <div class="container-xxl d-flex">
        <ul class="list-unstyled mb-0 py-5 col-sm">
            <li>
                <div id="destinations" class="footer-title text-decoration-underline mb-3 col-6">Destinations</div>
            </li>
            <li>
                <a href="#" class="footer-link text-black">Madrid</a>
            </li>
            <li>
                <a href="#" class="footer-link text-black">Granada</a>
            </li>
            <li>
                <a href="#" class="footer-link text-black">Bilbao</a>
            </li>
            <li>
                <a href="#" class="footer-link text-black">Barcelona</a>
            </li>
        </ul>
        <ul class="list-unstyled mb-0 py-5 col-sm">
            <li>
                <div id="termsAndConditions" class="footer-title text-decoration-underline mb-3 col-6">Terms &amp; Conditions</div>
            </li>
            <li>
                <a id="termsAndConditionsFirst" href="https://wynwood-house.com/terms-of-service/" class="footer-link text-black">Terms of Service</a>
            </li>
            <li>
                <a id="termsAndConditionsSecond" href="https://wynwood-house.com/privacy-policy/" class="footer-link text-black">Privacy Policies</a>
            </li>
            <li>
                <a id="termsAndConditionsThird" href="https://wynwood-house.com/cancellation-policy/" class="footer-link text-black">Cancelation Policies</a>
            </li>
        </ul>
        <ul class="list-unstyled mb-0 py-5 col-sm">
            <li>
                <div id="contactUs" class="footer-title text-decoration-underline mb-3 col-6">Contact Us</div>
            </li>
            <li>
                <a id="contactUsFirst" href="https://wynwood-house.com/contact/" class="footer-link text-black">Contact Us</a>
            </li>
            <li>
                <a href="https://wynwood-house.com/faq/" class="footer-link text-black">F.A.Q.</a>
            </li>
            <li>
                <a href="mailto:sales@wynwood-house.com" class="footer-link text-black">Sales@Wynwood-house.com</a>
            </li>
        </ul>
        <ul class="list-unstyled mb-0 py-5 col-sm">
            <li>
                <img class="icon-size" src="{% static 'images/peru-flag.png' %}" alt="peru-flag">
                <a href="https://api.whatsapp.com/send?phone=51946964976&text=Hola%2C%20estaba%20navegando%20en%20tu%20p%C3%A1gina%20web%20y%20me%20gustar%C3%ADa%20obtener%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Wynwood%20House%20Per%C3%BA..." class="footer-link text-black">+51 946 964 976</a>
            </li>
            <li>
                <img class="icon-size" src="{% static 'images/colombia-flag.png' %}" alt="colombia-flag">
                <a href="https://api.whatsapp.com/send?phone=573058541212&text=Hola%2C%20estaba%20navegando%20en%20tu%20p%C3%A1gina%20web%20y%20me%20gustar%C3%ADa%20obtener%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Wynwood%20House%20Colombia...%0A%0A" class="footer-link text-black">+57 305 8541212</a>
            </li>
            <li>
                <img class="icon-size" src="{% static 'images/panama-flag.png' %}" alt="panama-flag">
                <a href="https://api.whatsapp.com/send?phone=50762969656&text=Hola%2C%20estaba%20navegando%20en%20tu%20p%C3%A1gina%20web%20y%20me%20gustar%C3%ADa%20obtener%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Wynwood%20House%20Panam%C3%A1...%0A%0A" class="footer-link text-black">+507 6296-9656</a>
            </li>
            <li>
                <img class="icon-size" src="{% static 'images/mexico-flag.png' %}" alt="mexico-flag">
                <a href="https://api.whatsapp.com/send?phone=5215519811112&text=Hola%2C%20estaba%20navegando%20en%20tu%20p%C3%A1gina%20web%20y%20me%20gustar%C3%ADa%20obtener%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Wynwood%20House%20M%C3%A9xico...%0A%0A" class="footer-link text-black">+52 1 55 1981 1112</a>
            </li>
            <li class="mt-4">
                <a class="text-decoration-none" href="https://www.facebook.com/Wynwoodhouseofficial/">
                    <img class="icon-size" src="{% static 'images/facebook-icon.svg' %}" alt="facebook-icon">
                </a>
                <a class="text-decoration-none" href="https://www.instagram.com/wynwood.house/">
                    <img class="icon-size border rounded-circle ms-1" src="{% static 'images/instagram-icon.svg' %}" alt="instagram-icon">
                </a>
                <a class="text-decoration-none" href="https://www.linkedin.com/company/wynwood-house/">
                    <img class="icon-size border rounded-circle ms-1" src="{% static 'images/linkedin-icon.svg' %}" alt="linkedin-icon">
                </a>
            </li>
        </ul>
        <ul class="list-unstyled mb-0 py-5 col-sm">
            <li>
                <div id="getTheApp" class="footer-title text-decoration-underline mb-2">Download our App for Free</div>
            </li>
            <a class="text-decoration-none" href="https://apps.apple.com/mx/app/wynwood-house/id1631763744?l=en-GB">
                <img class="get-app-icon me-2 mt-2" src="{% static 'images/download-on-app-store.png' %}" alt="linkedin-icon">
            </a>
            <a class="text-decoration-none" href="https://play.google.com/store/apps/details?id=com.wynwoodhouse.wynwood">
                <img class="get-app-icon mt-2" src="{% static 'images/download-on-play-store.png' %}" alt="linkedin-icon">
            </a>
        </ul>
    </div>
</div>