<div class="position-fixed w-100 header d-flex justify-content-center align-items-center">
    <div class="container-xxl">
        <div class="d-flex align-items-center my-3 w-100 px-3">
            <div class="header-links col-sm">
                <a id="wynwoodHouse" class="text-white ms-2" href="https://wynwood-house.com/casa/">
                    Wynwood House
                </a>
            </div>
            <a href="/" class="d-flex justify-content-center mx-3 col-sm">
                {% include 'partials/main-logo.html' %}
            </a>
            <div class="header-links col-sm d-flex justify-content-end">
                <a id="changeLanguage" class="text-white" href="/?lang=es">
                    EN / <u>ES</u>
                </a>
            </div>
        </div>
    </div>
</div>